PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/srjdb?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey
JWT_REFRESH_SECRET=supersecretrefreshkey
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@1234
ADMIN_NAME=Super Admin
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your-smtp-user
EMAIL_PASSWORD=your-smtp-password
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-key
CLOUDINARY_API_SECRET=your-cloudinary-secret
FRONTEND_URL=http://localhost:3000
